@use "../../../../../../styles.scss";

.online-score-area {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  row-gap: 4px;

  .day-select-area {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 20px;

    .day-select-button {
      border: solid styles.$neon-blue;
      box-shadow: 0px 0px 3px 0px styles.$neon-blue, inset 0px 0px 3px 0px styles.$neon-blue;
      border-radius: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: 0.2s;
      transition-property: 
        box-shadow,
        background-color;
      
      @media screen and (min-width: styles.$smart-phone-width) {
        &:hover {
          box-shadow: 0px 0px 10px 0px styles.$neon-blue, inset 0px 0px 10px 0px styles.$neon-blue;
        }
      }
      
      .label {
        color: styles.$neon-blue;
        font-size: 20px;
        text-shadow: 0px 0px 5px styles.$neon-blue;
        line-height: 30px;
        padding: 2px 12px;
      }
    }

    .day-selected {
      background-color: #1990a79c;
    }
  }

  .row {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    .highlight {
      background-color: rgb(255 247 16 / 25%);
      box-shadow: 0px 3px 11px 1px rgba(255, 247, 2, 0.4431372549);
    }

    .score-row {
      display: flex;
      
      .ranking {
        width: 30px;
        display: flex;
        align-items: flex-end;
      }

      .text-size {
        font-size: 18px;
        line-height: 30px;
      }

      .first-text {
        color: #FFDB50;
        text-shadow: 0px 0px 5px #FFDB50;
      }

      .second-text {
        color: #2F90FF;
        text-shadow: 0px 0px 5px #2F90FF;
      }

      .third-text {
        color: #D06800;
        text-shadow: 0px 0px 5px #D06800;
      }

      .other-text {
        color: styles.$neon-white;
        text-shadow: 0px 0px 5px styles.$neon-white;
      }

      .player-info {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        width: 100%;

        .text-14 {
          font-size: 10px;
        }

        .text-13-12 {
          font-size: 12px;
        }

        .text-11-10 {
          font-size: 14px;
        }

        .text-9 {
          font-size: 18px;
        }
      }
    }

    .divider {
      border-bottom: 1px solid styles.$neon-blue;
    }
  }
}