<div class="online-score-area">
  <div class="day-select-area">
    <ng-container *ngIf="daySelectButtonLabels.length > 0">
      <ng-container *ngFor="let label of daySelectButtonLabels; let i = index">
        <div
          class="day-select-button"
          [ngClass]="{
            'day-selected': i === daySelectIndex
          }"
          (click)="onClickDaySelectButton(i)"
        >
          <div class="label" translate="no">{{label}}</div>
        </div>
      </ng-container>
    </ng-container>
  </div>
  <ng-container *ngIf="onlineScoreList.length > 0">
    <ng-container *ngFor="let i of todayScoreMaxCountArray">
      <div class="row">
        <div
          class="score-row"
          [ngClass]="{ 'highlight': onlineScoreList[daySelectIndex].ranking[i] && onlineScoreList[daySelectIndex].ranking[i].id === storageService.id }"
        >
          <div
            class="ranking text-size"
            [ngClass]="{
              'first-text': i + 1 === 1,
              'second-text': i + 1 === 2,
              'third-text': i + 1 === 3,
              'other-text': i + 1 >= 4,
            }"
          >
            {{ i + 1 }}.
          </div>
          <div class="text-size other-text player-info">
            <ng-template [ngIf]="onlineScoreList[daySelectIndex].ranking[i]" [ngIfElse]="nonScore">
              <ng-template [ngIf]="storageService.muteList.includes(onlineScoreList[daySelectIndex].ranking[i].id)" [ngIfElse]="playerName">
                <div class="text-9" translate="no">ゾウさん</div>
              </ng-template>
              <ng-template #playerName>
                <div
                  [ngClass]="{
                    'text-14': onlineScoreList[daySelectIndex].ranking[i].name.length >= 14,
                    'text-13-12': onlineScoreList[daySelectIndex].ranking[i].name.length === 13 || onlineScoreList[daySelectIndex].ranking[i].name.length === 12,
                    'text-11-10': onlineScoreList[daySelectIndex].ranking[i].name.length === 11 || onlineScoreList[daySelectIndex].ranking[i].name.length === 10,
                    'text-9': onlineScoreList[daySelectIndex].ranking[i].name.length <= 9,
                  }"
                  translate="no"
                >
                  {{onlineScoreList[daySelectIndex].ranking[i].name}}
                </div>
              </ng-template>
              <div class="score-area" translate="no">
                {{onlineScoreList[daySelectIndex].ranking[i].score | scoreTime}}
                <svg-icon
                  [src]="'assets/elephant.svg'"
                  [applyClass]="true"
                  [class]="'icon-button'"
                  [ngClass]="storageService.muteList.includes(onlineScoreList[daySelectIndex].ranking[i].id) ? 'icon-button-on' : 'icon-button-off'"
                  (click)="onClickMuteButton(onlineScoreList[daySelectIndex].ranking[i].id)"
                >
                </svg-icon>
              </div>
            </ng-template>
            <ng-template #nonScore>
              -
            </ng-template>
          </div>
        </div>
        <div class="divider"></div>
      </div>
    </ng-container>
  </ng-container>
</div>
