<div class="display-component">
  <div class="home-elements">
    <div class="title">Make 10</div>
    <!-- <button (click)="onClickChangeDisplayButton()">START</button> -->
    <div class="buttons">
      <p-button label="スタート" [raised]="true" class="button-size" />
      <p-button label="ランキング" [raised]="true" class="button-size" />
      <p-button label="遊び方" [raised]="true" class="button-size" />
      <div class="toggle-button-group">
        タイマー表示
        <p-inputSwitch [(ngModel)]="isTimerVisible" />
      </div>
      
    </div>
  </div>
</div>
