<div class="display-component">
  <div class="make-ten-elements">
    <div class="header">
      <div class="header-elements">
        <div class="header-text">Make 10</div>
        <svg-icon
          src="assets/flag.svg"
          [applyClass]="true"
          [class]="'icon-button'"
          (click)="onClickFlagButton()"
        ></svg-icon>
      </div>
      <div class="header-bottom-border"></div>
    </div>
    <div class="make-ten-info-area">
      <div class="make-ten-info-elements">
        <div class="question-count-mark">
          <div class="pentagon-mark-line one" [ngClass]="{ 'highlights': questionCounter >= 1 }"></div>
          <div class="pentagon-mark-line two" [ngClass]="{ 'highlights': questionCounter >= 2 }"></div>
          <div class="pentagon-mark-line three" [ngClass]="{ 'highlights': questionCounter >= 3 }"></div>
          <div class="pentagon-mark-line four" [ngClass]="{ 'highlights': questionCounter >= 4 }"></div>
          <div class="pentagon-mark-line five" [ngClass]="{ 'highlights': questionCounter >= 5 }"></div>
          <div class="question-counter">{{questionCounter}}</div>
        </div>
        <div class="timer">{{ time | scoreTime }}</div>
      </div>
    </div>
    <div id="circle-button-area">
      <!-- 1つ目の数字ボタン -->
      <circle-button
        [label]="circleButtonParams.numberFirst.label"
        [color]="CircleButtonColor.BLUE"
        id="circle-button-{{CircleButtonType.NUMBER_FIRST}}"
        class="circle-button"
        [style.transition]="circleButtonParams.transition"
        [style.opacity]="circleButtonParams.numberFirst.isVisible ? 1 : 0"
        [style.pointer-events]="circleButtonParams.numberFirst.isVisible ? 'unset' : 'none'"
        [style.top]="circleButtonParams.numberFirst.top + 'px'"
        [style.left]="circleButtonParams.numberFirst.left + 'px'"
        (onClick)="onClickCircleButton(CircleButtonType.NUMBER_FIRST)"
      ></circle-button>
      <div
        class="clear-circle-button"
        [style.pointer-events]="circleButtonParams.numberFirst.isVisible ? 'unset' : 'none'"
        [style.top]="circleButtonParams.numberFirst.top + 'px'"
        [style.left]="circleButtonParams.numberFirst.left + 'px'"
        (click)="onClickClearCircleButton(CircleButtonType.NUMBER_FIRST)"
      ></div>
      <!-- 2つ目の数字ボタン -->
      <circle-button
        [label]="circleButtonParams.numberSecond.label"
        [color]="CircleButtonColor.BLUE"
        id="circle-button-{{CircleButtonType.NUMBER_SECOND}}"
        class="circle-button"
        [style.transition]="circleButtonParams.transition"
        [style.opacity]="circleButtonParams.numberSecond.isVisible ? 1 : 0"
        [style.pointer-events]="circleButtonParams.numberSecond.isVisible ? 'unset' : 'none'"
        [style.top]="circleButtonParams.numberSecond.top + 'px'"
        [style.left]="circleButtonParams.numberSecond.left + 'px'"
        (onClick)="onClickCircleButton(CircleButtonType.NUMBER_SECOND)"
      ></circle-button>
      <div
        class="clear-circle-button"
        [style.pointer-events]="circleButtonParams.numberSecond.isVisible ? 'unset' : 'none'"
        [style.top]="circleButtonParams.numberSecond.top + 'px'"
        [style.left]="circleButtonParams.numberSecond.left + 'px'"
        (click)="onClickClearCircleButton(CircleButtonType.NUMBER_SECOND)"
      ></div>
      <!-- 3つ目の数字ボタン -->
      <circle-button
        [label]="circleButtonParams.numberThird.label"
        [color]="CircleButtonColor.BLUE"
        id="circle-button-{{CircleButtonType.NUMBER_THIRD}}"
        class="circle-button"
        [style.transition]="circleButtonParams.transition"
        [style.opacity]="circleButtonParams.numberThird.isVisible ? 1 : 0"
        [style.pointer-events]="circleButtonParams.numberThird.isVisible ? 'unset' : 'none'"
        [style.top]="circleButtonParams.numberThird.top + 'px'"
        [style.left]="circleButtonParams.numberThird.left + 'px'"
        (onClick)="onClickCircleButton(CircleButtonType.NUMBER_THIRD)"
      ></circle-button>
      <div
        class="clear-circle-button"
        [style.pointer-events]="circleButtonParams.numberThird.isVisible ? 'unset' : 'none'"
        [style.top]="circleButtonParams.numberThird.top + 'px'"
        [style.left]="circleButtonParams.numberThird.left + 'px'"
        (click)="onClickClearCircleButton(CircleButtonType.NUMBER_THIRD)"
      ></div>
      <!-- 4つ目の数字ボタン -->
      <circle-button
        [label]="circleButtonParams.numberFourth.label"
        [color]="CircleButtonColor.BLUE"
        id="circle-button-{{CircleButtonType.NUMBER_FOURTH}}"
        class="circle-button"
        [style.transition]="circleButtonParams.transition"
        [style.opacity]="circleButtonParams.numberFourth.isVisible ? 1 : 0"
        [style.pointer-events]="circleButtonParams.numberFourth.isVisible ? 'unset' : 'none'"
        [style.top]="circleButtonParams.numberFourth.top + 'px'"
        [style.left]="circleButtonParams.numberFourth.left + 'px'"
        (onClick)="onClickCircleButton(CircleButtonType.NUMBER_FOURTH)"
      ></circle-button>
      <div
        class="clear-circle-button"
        [style.pointer-events]="circleButtonParams.numberFourth.isVisible ? 'unset' : 'none'"
        [style.top]="circleButtonParams.numberFourth.top + 'px'"
        [style.left]="circleButtonParams.numberFourth.left + 'px'"
        (click)="onClickClearCircleButton(CircleButtonType.NUMBER_FOURTH)"
      ></div>
      <!-- 「＋」ボタン -->
      <circle-button
        [label]="circleButtonParams.plus.label"
        id="circle-button-{{CircleButtonType.PLUS}}"
        class="circle-button"
        [style.transition]="circleButtonParams.transition"
        [style.opacity]="circleButtonParams.plus.isVisible ? 1 : 0"
        [style.pointer-events]="circleButtonParams.plus.isVisible ? 'unset' : 'none'"
        [style.top]="circleButtonParams.plus.top + 'px'"
        [style.left]="circleButtonParams.plus.left + 'px'"
        [color]="CircleButtonColor.GREEN"
        (onClick)="onClickCircleButton(CircleButtonType.PLUS)"
      ></circle-button>
      <div
        class="clear-circle-button"
        [style.pointer-events]="circleButtonParams.plus.isVisible ? 'unset' : 'none'"
        [style.top]="circleButtonParams.plus.top + 'px'"
        [style.left]="circleButtonParams.plus.left + 'px'"
        (click)="onClickClearCircleButton(CircleButtonType.PLUS)"
      ></div>
      <!-- 「―」ボタン -->
      <circle-button
        [label]="circleButtonParams.minus.label"
        id="circle-button-{{CircleButtonType.MINUS}}"
        class="circle-button"
        [style.transition]="circleButtonParams.transition"
        [style.opacity]="circleButtonParams.minus.isVisible ? 1 : 0"
        [style.pointer-events]="circleButtonParams.minus.isVisible ? 'unset' : 'none'"
        [style.top]="circleButtonParams.minus.top + 'px'"
        [style.left]="circleButtonParams.minus.left + 'px'"
        [color]="CircleButtonColor.YELLOW"
        (onClick)="onClickCircleButton(CircleButtonType.MINUS)"
      ></circle-button>
      <div
        class="clear-circle-button"
        [style.pointer-events]="circleButtonParams.minus.isVisible ? 'unset' : 'none'"
        [style.top]="circleButtonParams.minus.top + 'px'"
        [style.left]="circleButtonParams.minus.left + 'px'"
        (click)="onClickClearCircleButton(CircleButtonType.MINUS)"
      ></div>
      <!-- 「×」ボタン -->
      <circle-button
        [label]="circleButtonParams.multipliedBy.label"
        id="circle-button-{{CircleButtonType.MULTIPLIED_BY}}"
        class="circle-button"
        [style.transition]="circleButtonParams.transition"
        [style.opacity]="circleButtonParams.multipliedBy.isVisible ? 1 : 0"
        [style.pointer-events]="circleButtonParams.multipliedBy.isVisible ? 'unset' : 'none'"
        [style.top]="circleButtonParams.multipliedBy.top + 'px'"
        [style.left]="circleButtonParams.multipliedBy.left + 'px'"
        [color]="CircleButtonColor.RED"
        (onClick)="onClickCircleButton(CircleButtonType.MULTIPLIED_BY)"
      ></circle-button>
      <div
        class="clear-circle-button"
        [style.pointer-events]="circleButtonParams.multipliedBy.isVisible ? 'unset' : 'none'"
        [style.top]="circleButtonParams.multipliedBy.top + 'px'"
        [style.left]="circleButtonParams.multipliedBy.left + 'px'"
        (click)="onClickClearCircleButton(CircleButtonType.MULTIPLIED_BY)"
      ></div>
      <!-- 「÷」ボタン -->
      <circle-button
        [label]="circleButtonParams.dividedBy.label"
        id="circle-button-{{CircleButtonType.DIVIDED_BY}}"
        class="circle-button"
        [style.transition]="circleButtonParams.transition"
        [style.opacity]="circleButtonParams.dividedBy.isVisible ? 1 : 0"
        [style.pointer-events]="circleButtonParams.dividedBy.isVisible ? 'unset' : 'none'"
        [style.top]="circleButtonParams.dividedBy.top + 'px'"
        [style.left]="circleButtonParams.dividedBy.left + 'px'"
        [color]="CircleButtonColor.PURPLE"
        (onClick)="onClickCircleButton(CircleButtonType.DIVIDED_BY)"
      ></circle-button>
      <div
        class="clear-circle-button"
        [style.pointer-events]="circleButtonParams.dividedBy.isVisible ? 'unset' : 'none'"
        [style.top]="circleButtonParams.dividedBy.top + 'px'"
        [style.left]="circleButtonParams.dividedBy.left + 'px'"
        (click)="onClickClearCircleButton(CircleButtonType.DIVIDED_BY)"
      ></div>
      <!-- 1つ目の算出数字ボタン -->
      <circle-button
        [label]="circleButtonParams.calculatedNumberFirst.label"
        id="circle-button-{{CircleButtonType.CALCULATED_NUMBER_FIRST}}"
        class="circle-button"
        [style.transition]="circleButtonParams.transition"
        [style.opacity]="circleButtonParams.calculatedNumberFirst.isVisible ? 1 : 0"
        [style.pointer-events]="circleButtonParams.calculatedNumberFirst.isVisible ? 'unset' : 'none'"
        [style.top]="circleButtonParams.calculatedNumberFirst.top + 'px'"
        [style.left]="circleButtonParams.calculatedNumberFirst.left + 'px'"
        [color]="CircleButtonColor.BLUE"
        (onClick)="onClickCircleButton(CircleButtonType.CALCULATED_NUMBER_FIRST)"
      ></circle-button>
      <div
        class="clear-circle-button"
        [style.pointer-events]="circleButtonParams.calculatedNumberFirst.isVisible ? 'unset' : 'none'"
        [style.top]="circleButtonParams.calculatedNumberFirst.top + 'px'"
        [style.left]="circleButtonParams.calculatedNumberFirst.left + 'px'"
        (click)="onClickClearCircleButton(CircleButtonType.CALCULATED_NUMBER_FIRST)"
      ></div>
      <!-- 2つ目の算出数字ボタン -->
      <circle-button
        [label]="circleButtonParams.calculatedNumberSecond.label"
        id="circle-button-{{CircleButtonType.CALCULATED_NUMBER_SECOND}}"
        class="circle-button"
        [style.transition]="circleButtonParams.transition"
        [style.opacity]="circleButtonParams.calculatedNumberSecond.isVisible ? 1 : 0"
        [style.pointer-events]="circleButtonParams.calculatedNumberSecond.isVisible ? 'unset' : 'none'"
        [style.top]="circleButtonParams.calculatedNumberSecond.top + 'px'"
        [style.left]="circleButtonParams.calculatedNumberSecond.left + 'px'"
        [color]="CircleButtonColor.BLUE"
        (onClick)="onClickCircleButton(CircleButtonType.CALCULATED_NUMBER_SECOND)"
      ></circle-button>
      <div
        class="clear-circle-button"
        [style.pointer-events]="circleButtonParams.calculatedNumberSecond.isVisible ? 'unset' : 'none'"
        [style.top]="circleButtonParams.calculatedNumberSecond.top + 'px'"
        [style.left]="circleButtonParams.calculatedNumberSecond.left + 'px'"
        (click)="onClickClearCircleButton(CircleButtonType.CALCULATED_NUMBER_SECOND)"
      ></div>
      <!-- 3つ目の算出数字ボタン -->
      <circle-button
        [label]="circleButtonParams.calculatedNumberThird.label"
        class="circle-button"
        [style.transition]="circleButtonParams.transition"
        [style.opacity]="circleButtonParams.calculatedNumberThird.isVisible ? 1 : 0"
        [style.pointer-events]="circleButtonParams.calculatedNumberThird.isVisible ? 'unset' : 'none'"
        [style.top]="circleButtonParams.calculatedNumberThird.top + 'px'"
        [style.left]="circleButtonParams.calculatedNumberThird.left + 'px'"
        [color]="CircleButtonColor.BLUE"
        (onClick)="onClickCircleButton(CircleButtonType.CALCULATED_NUMBER_THIRD)"
      ></circle-button>
      <circle-button
        [label]="'10'"
        class="answer-effect"
        [ngClass]="{ 'answer-effect-on': isStartAnswerEffect }"
        [style.top]="circleButtonParams.calculatedNumberThird.top + 'px'"
        [style.left]="circleButtonParams.calculatedNumberThird.left + 'px'"
        [color]="CircleButtonColor.BLUE"
        (animationend)="onAnimationEndAnswerEffect()"
      ></circle-button>
    </div>
    <square-button
      [label]="'RESET'"
      [isLarge]="true"
      [color]="SquareButtonColor.WHITE"
      class="reset-button"
      (onClick)="onClickResetButton()"
    ></square-button>
  </div>
</div>