@use "../../../../styles.scss";

.button-outline {
  height: 59px; // アウトライン分(6px)引いた値を設定
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.2s;
}

.large-width {
  width: 240px; // アウトライン分(6px)引いた値を設定
}

.fit-width {
  padding: 0px 30px;
}

.button-outline:hover {
  background-color: #23daff0f;
}

.blue-outline {
  border: solid styles.$neon-blue;
  box-shadow: 0px 0px 3px 0px styles.$neon-blue, inset 0px 0px 3px 0px styles.$neon-blue;
}

.blue-outline:hover {
  box-shadow: 0px 0px 10px 0px styles.$neon-blue, inset 0px 0px 10px 0px styles.$neon-blue;
}

.blue-outline:active {
  background-color: #23daff8b;
}

.white-outline {
  border: solid styles.$neon-white;
  box-shadow: 0px 0px 3px 0px styles.$neon-white, inset 0px 0px 3px 0px styles.$neon-white;
}

.white-outline:hover {
  box-shadow: 0px 0px 10px 0px styles.$neon-white, inset 0px 0px 10px 0px styles.$neon-white;
}

.white-outline:active {
  background-color: #ccf1f99b;
}

.red-outline {
  border: solid styles.$neon-red;
  box-shadow: 0px 0px 3px 0px styles.$neon-red, inset 0px 0px 3px 0px styles.$neon-red;
}

.red-outline:hover {
  box-shadow: 0px 0px 10px 0px styles.$neon-red, inset 0px 0px 10px 0px styles.$neon-red;
}

.red-outline:active {
  background-color: #d800659e;
}

.button-text {
  font-size: 24px;
}

.blue-text {
  color: styles.$neon-blue;
  text-shadow: 0px 0px 5px styles.$neon-blue;
}

.white-text {
  color: styles.$neon-white;
  text-shadow: 0px 0px 5px styles.$neon-white;
}

.red-text {
  color: styles.$neon-red;
  text-shadow: 0px 0px 5px styles.$neon-red;
}