<div class="display-component">
  <div class="home-elements">
    <div class="header-elements">
      <!-- TODO: プレリリースでは遊び方画面をドロップするためコメントアウト -->
      <!-- <svg-icon
        src="assets/help.svg"
        [applyClass]="true"
        [class]="'icon-button how-to-play-button'"
        (click)="onClickHowToPlayButton()"
      >
      </svg-icon> -->
    </div>
    <div class="title">
      <div class="title-text">
        Make 10
      </div>
      <div *ngIf="giveUpAnswer != ''" class="subtitle-text">A. {{giveUpAnswer}}</div>
    </div>
    <div class="actions">
      <div>
        <input
          type="text"
          id="user-name"
          placeholder="Player Name"
          maxlength="15"
          autocomplete="off"
          (focus)="onFocusPlayerNameInputForm(true)"
          (blur)="onFocusPlayerNameInputForm(false)"
        />
        <div
          id="user-name-bottom-line"
          [ngClass]="{
            'user-name-focus': isFocusPlayerNameInputForm
          }"
        ></div>
      </div>
      <square-button
        [label]="'START'"
        [isLarge]="true"
        [color]="SquareButtonColor.BLUE"
        (onClick)="onClickStartButton()"
      />
      <!-- TODO: プレリリースではランキング画面をドロップするためコメントアウト -->
      <!-- <square-button
        [label]="'RANKING'"
        [isLarge]="true"
        [color]="SquareButtonColor.BLUE"
        (onClick)="onClickRankingButton()"
      /> -->
    </div>
    <div class="footer-elements">
      <div class="version">V{{Version}}</div>
    </div>
  </div>
</div>
