@use "../../../../styles.scss";

.display-component {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.home-elements {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0px 20px;
}

.header-elements {
  width: 100%;
  margin-top: 40px;
  display: flex;
  justify-content: flex-end;
}

.icon-button {
  height: 40px;
  width: 40px;
  fill: styles.$neon-white;
  filter: drop-shadow(0px 0px 2px #ccf1f946);
  transition: 0.2s;
  cursor: pointer;

  @media screen and (min-width: styles.$smart-phone-width) {
    &:hover {
      filter: drop-shadow(0px 0px 6px #ccf1f977);
    }
  
    &:active {
      filter: drop-shadow(0px 0px 6px styles.$neon-white);
    }
  }
}

.how-to-play-button {
  margin-right: 20px;
}

.title {
  height: 100%;
  width: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .title-text {
    height: 70px;
    line-height: 70px;
    text-align: center;
    font-size: 70px;
    font-weight: bold;
    color: styles.$neon-blue;
    text-shadow: 0px 0px 5px styles.$neon-blue;
  }

  .subtitle-text {
    margin-top: 30px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    font-size: 24px;
    color: styles.$neon-blue;
    text-shadow: 0px 0px 5px styles.$neon-blue;
  }
}

.actions {
  row-gap: 26px;
  display: flex;
  flex-direction: column;
  align-items: center;

  $threshold: 752px;
  @media screen and (max-height: $threshold) {
    margin-bottom: 60px;
  }
  @media screen and (min-height: $threshold) {
    margin-bottom: 120px;
  }
}

#user-name {
  height: 48px;
  width: 246px;
  text-align: right;
  font-size: 24px;
  background-color: #ccf1f927;
  color: styles.$neon-white;
  border: unset;
  box-shadow: 0px 0px 3px 0px #ccf1f927, inset 0px 0px 3px 0px #ccf1f927;
  transition: 0.2s;
  padding-block: 1px !important;
  padding-inline: 2px !important;
}

#user-name::placeholder {
  color: #ccf1f943;
}

#user-name:focus-visible {
  outline: unset;
  background-color: #ccf1f93a;
  box-shadow: 0px 0px 10px 0px #ccf1f927, inset 0px 0px 10px 0px #ccf1f927;
}

#user-name-bottom-line {
  width: 250px;
  border-bottom: 1px solid styles.$neon-blue;
  box-shadow: 0px 0px 3px 0px styles.$neon-blue, inset 0px 0px 3px 0px styles.$neon-blue;
}

.user-name-focus {
  box-shadow: 0px 0px 10px 0px styles.$neon-blue, inset 0px 0px 10px 0px styles.$neon-blue !important;
}

.footer-elements {
  width: 100%;
  margin: 10px 0px;
  display: flex;
  justify-content: flex-end;

  .version {
    height: 20px;
    line-height: 20px;
    font-size: 20px;
    color: styles.$neon-blue;
    text-shadow: 0px 0px 5px styles.$neon-blue;
  }
}