<div class="display-component">
  <div class="home-elements">
    <div class="header-elements">
      <svg-icon
        src="assets/help.svg"
        [applyClass]="true"
        [class]="'icon-button how-to-play-button'"
        (click)="onClickHowToPlayButton()"
      >
      </svg-icon>
    </div>
    <div class="title">Make 10</div>
    <div class="buttons">
      <square-button
        [label]="'START'"
        (onClick)="onClickStartButton()"
      />
      <square-button
        [label]="'RANKING'"
        (onClick)="onClickRankingButton()"
      />
    </div>
  </div>
</div>
