.display-component {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.home-elements {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  margin: 0px 20px;
}

.header-elements {
  height: 40px;
  width: 100%;
  margin: 20px;
  display: flex;
  justify-content: flex-end;
}

.icon-button {
  height: 40px;
  width: 40px;
  fill: #CCF1F9;
  filter: drop-shadow(0px 0px 2px #ccf1f946);
  transition: 0.2s;
  cursor: pointer;
}

.icon-button:hover {
  filter: drop-shadow(0px 0px 6px #ccf1f977);
}

.icon-button:active {
  filter: drop-shadow(0px 0px 6px #ccf1f9);
}

.title {
  color: #23DBFF;
  font-size: 70px;
  font-weight: bold;
  text-shadow: 0px 0px 5px #23DBFF;
  height: 100%;
  width: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttons {
  row-gap: 26px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}