@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);

body {
  background-color: #dce9ea;
}
html, body { height: 100%; }
body { 
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
  translate: none;
}
