@use "../../../../styles.scss";

.toggle-outline {
  height: 46px;
  width: 114px;
  border: solid styles.$neon-blue;
  border-radius: 30px;
  box-shadow: 0px 0px 3px 0px styles.$neon-blue, inset 0px 0px 3px 0px styles.$neon-blue;
  cursor: pointer;
  transition: 0.2s;
  position: relative;
}

.toggle-outline:hover {
  box-shadow: 0px 0px 10px 0px styles.$neon-blue, inset 0px 0px 10px 0px styles.$neon-blue;
}

.toggle-outline-on {
  background-color: #167ca9;
}

.toggle-outline-off {
  background-color: #172227;
}

#toggle-circle {
  height: 46px;
  width: 46px;
  border: solid styles.$neon-blue;
  border-radius: 30px;
  box-shadow: 0px 0px 3px 0px styles.$neon-blue, inset 0px 0px 3px 0px styles.$neon-blue;
  background-color: #24474D;
  transition: 0.2s;
  position: absolute;
  top: -3px;
}

.toggle-circle-on {
  left: 66px;
}

.toggle-circle-off {
  left: -3px;
}
